[submodule "Niuniu/vendor/spdlog"]
    path = Niuniu/vendor/spdlog
    url = https://github.com/gabime/spdlog

[submodule "Niuniu/vendor/glfw"]
    path = Niuniu/vendor/GLFW
    url = https://github.com/TheCherno/glfw

[submodule "Niuniu/vendor/imgui"]
    path = Niuniu/vendor/imgui
    url = https://github.com/TheCherno/imgui
